@import './flex';

@mixin auto-fill-grid(
  $grid_class_name:'grid',
  $grid_item_class_name:'grid-item',
  $min-column-width:200px,
  $vertical-gap:10px,
  $horizontal-gap:10px) {

  @supports not (display: grid) {

    @include responsive-flex-grid($grid_class_name, $min-column-width, $horizontal-gap);

    @include flex-grid($grid_class_name, $grid_item_class_name, $min-column-width, $vertical-gap, $horizontal-gap);
  }

  @supports (display: grid) {

    .#{$grid_class_name} {
      --css-grid-vertical-gap: var(--grid-vertical-gap, #{$vertical-gap});
      --css-grid-horizontal-gap: var(--grid-horizontal-gap, #{$horizontal-gap});
      --css-grid-min-column-width: var(--grid-min-column-width, #{$min-column-width});

      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(var(--css-grid-min-column-width), 1fr));
      grid-gap: var(--css-grid-vertical-gap) var(--css-grid-horizontal-gap);
      align-items: start;
    }
  }
}
