
$border-radius-s: 2px;
$border-radius-m: 4px;
$border-radius-l: 8px;
$border-radius-xl: 16px;
$border-radius-xxl: 32px;
$border-radius-xxxl: 64px;

$gap-xs: 2px;
$gap-s: 4px;
$gap-m: 8px;
$gap-l: 16px;
$gap-xl: 24px;
$gap-xxl: 32px;
$gap-xxxl: 64px;


$icon-background-size-xs: 24px;
$icon-background-size-s: 32px;
$icon-background-size-m: 40px;
$icon-background-size-l: 48px;
$icon-background-size-xl: 56px;
$icon-background-size-xxl: 64px;
$icon-background-size-xxxl: 72px;

$icon-size-xs: 12px;
$icon-size-s: 16px;
$icon-size-m: 20px;
$icon-size-l: 24px;
$icon-size-xl: 28px;
$icon-size-xxl: 32px;
$icon-size-xxxl: 36px;
