<form [formGroup]="form">

  <ng-container *ngFor="let control of controls">

      <ng-container *ngIf="control| guardType: isHeaderControl as header">
        <h2>{{header.label}}</h2>
      </ng-container>

      <hr *ngIf="control| guardType: isDividerControl"/>

      <ng-container *ngIf="control| guardType: isInteractiveControl as interactive">

        <div class="control-group" [ngClass]="interactive.controlType">

          <label [attr.for]="interactive.key">{{interactive.label}}:</label>

          <input *ngIf="interactive| guardType: isInputControl as input"
            [formControlName]="input.key"
            [id]="input.key"
            [name]="input.key"
            [type]="input.type || 'text'"
            [value]="input.value"
            [min]="input.min || 0"
            [max]="input.max || 100"/>

          <select *ngIf="interactive| guardType: isSelectControl as select" [id]="select.key" [formControlName]="select.key">
            <option value="">none</option>
            <option *ngFor="let opt of select.options" [value]="opt.value">{{opt.label || opt.value}}</option>
          </select>

          <json-editor *ngIf="interactive| guardType: isJsonControl as json"
            jsonEditorControl
            [id]="json.key"
            [formControlName]="json.key">
          </json-editor>

        </div>

      </ng-container>

    </ng-container>

</form>
