<form [formGroup]="form">

  <ng-container *ngFor="let control of controls">

    <ng-container [ngSwitch]="control.controlType">

      <ng-container *ngSwitchCase="'header'">
        <h2>{{control.label}}</h2>
      </ng-container>

      <hr *ngSwitchCase="'divider'"/>

      <ng-container *ngSwitchDefault>

        <div class="control-group" [ngSwitch]="control.controlType">

          <label [attr.for]="control.key">{{control.label}}:</label>

          <input *ngSwitchCase="'input'"
                 [formControlName]="control.key"
                 [id]="control.key"
                 [name]="control.key"
                 [type]="control.type"
                 [value]="control.value"/>

          <select [id]="control.key" *ngSwitchCase="'select'" [formControlName]="control.key">
            <option *ngFor="let opt of control.options" [value]="opt.key">{{opt.value}}</option>
          </select>

        </div>

      </ng-container>

    </ng-container>

  </ng-container>

</form>
