
<page-container *ngIf="pageConfig"
  [detailsURI]="pageConfig.detailsURI"
  [docURI]="pageConfig.docURI"
  [githubLink]="pageConfig.githubLink">

  <ng-container section="controls" *ngIf="pageConfig.controls">

    <ng-container [dynamicLoader]="'controls-dynamic'" controlsLoaderDirective
                  [controls]="pageConfig.controls"
                  (dataChange)="onControlDataChange($event)">
    </ng-container>

  </ng-container>

  <ng-container *ngIf="pageConfig.examples">

    <ng-container *ngFor="let example of pageConfig.examples">
      <example-loader-component [selector]="example" [data]="controlData"></example-loader-component>
    </ng-container>

  </ng-container>

</page-container>

<div *ngIf="!pageConfig">404</div>
