:host {
  display: block;
  padding: 20px 0;

  .side-menu-tree {
    height: 100%;
  }

  .side-menu-tree-invisible {
    display: none;
  }

  .mat-button {
    width: 100%;
    text-align: left;
    border-radius: 0;
    text-transform: capitalize;

    &.active {
      color: #ff5c8d;
    }
  }

  mat-tree {
    &> mat-tree-node > .mat-button {
      padding-left: 37px;
    }
    &> mat-nested-tree-node {
      &> div.mat-tree-node > .mat-button {
        padding-left: 10px;
      }
      &> div[role=group] {
        &> mat-tree-node > .mat-button {
          padding-left: 47px;
        }
        &> mat-nested-tree-node {
          &> div.mat-tree-node > .mat-button {
            padding-left: 20px;
          }
          &> div[role=group] {
            &> mat-tree-node > .mat-button {
              padding-left: 57px;
            }
            &> mat-nested-tree-node {
              &> div.mat-tree-node > .mat-button {
                padding-left: 30px;
              }
              &> div[role=group] {
                &> mat-tree-node > .mat-button {
                  padding-left: 67px;
                }
                &> mat-nested-tree-node {
                  &> div.mat-tree-node > .mat-button {
                    padding-left: 40px;
                  }
                  &> div[role=group] {
                    &> mat-tree-node > .mat-button {
                      padding-left: 77px;
                    }
                    &> mat-nested-tree-node {
                      &> div.mat-tree-node > .mat-button {
                        padding-left: 50px;
                      }
                      &> div[role=group] {
                        &> mat-tree-node > .mat-button {
                          padding-left: 87px;
                        }
                        &> mat-nested-tree-node {
                          &> div.mat-tree-node > .mat-button {
                            padding-left: 60px;
                          }
                          &> div[role=group] {
                            &> mat-tree-node > .mat-button {
                              padding-left: 97px;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
